<footer>
    <div> <a href="https://github.com/IrisKerr/Hyggen-Tehus"> Project "Hyggen Tehus"</a> - Designed and developed by <a
            href="https://github.com/IrisKerr">Iris
            Kerr </a> © 2023.
    </div>
</footer>