<nav>
    <div class="navbar-title">
        Hyggen Tehus
    </div>
    <ul class="navbar-list">
        <li class="navbar-item"><a class="navbar-link" href="/">☙ Discover ❧</a> </li>
        <li class="navbar-item"><a class="navbar-link" href="/workshops">☙ Workshops ❧</a> </li>
        <li class="navbar-item"><a class="navbar-link" href="/teas">☙ Teas ❧</a> </li>
    </ul>
</nav>