<%- include("partials/header.ejs") %>

<body>

    <%- include("partials/nav.ejs") %>

    <section class="container">
        <div class="container-content">
            <p>Welcome to Hyggen Tehus, a Danish tea shop that was founded in 1995. <br> Our mission is to bring the
                best
                teas
                from around the world to Denmark, and to create a space where tea lovers can come together to enjoy and
                learn about this incredible beverage.
            </p>

            <p>Our founders were inspired to start the tea shop after traveling throughout Asia and experiencing the
                unique
                and diverse tea cultures in each country. <br> They fell in love with the incredible range of flavors,
                aromas,
                and health benefits of tea, and wanted to share this passion with others.</p>
            <p>At Hyggen Tehus, we are committed to sourcing the highest quality teas from all over the world, and
                working
                directly with small, independent tea farmers and producers. <br> We believe that this not only ensures
                the
                freshest and most flavorful teas, but also supports the local economies and communities where the teas
                are
                grown.</p>
            <div class="teashop-image"></div>
            <p>We also take great care in the production and preparation of our teas, using traditional methods and
                innovative techniques to create blends that are both delicious and healthful. <br>We never use
                artificial
                flavors or additives, and we strive to be as sustainable and eco-friendly as possible.</p>
            <p>In addition to our wide selection of teas, we also offer a variety of tea-related products, including
                teapots, cups, and accessories. <br> And our knowledgeable and friendly staff are always available to
                answer
                any
                questions and provide recommendations based on your preferences and tastes.</p>
            <p class="thanks">Thank you for choosing Hyggen Tehus. <br> We look forward to share our love of tea with
                you!</p>
            <p class="aldus-leaf">❦</p>

        </div>
    </section>
    <%- include("partials/footer.ejs") %>

</body>

</html>