<%- include("partials/header.ejs") %>

<body>

    <%- include("partials/nav.ejs") %>

</body>

<section>
    <p>
        At Hyggen Tehus, we offer a wide variety of teas and tea-related products for all tastes and preferences. Below
        you will find a list of our different teas, along with their flavor profile, ingredients, and brewing
        instructions.
    </p>

    <% for (const tea of teas) { %>
    <div>

        <img src="../public/images/hibiscus-haze.jpg" alt="">
        <a href="/teas/<%= tea.name %>"><span><%= tea.title %></span></a>
    </div>
    <% } %>

</section>


</html>