<%- include("partials/header.ejs") %>

<body>

    <%- include("partials/nav.ejs") %>

</body>

<section>
    <p>
        At Hyggen Tehus, we offer a wide variety of teas and tea-related products for all tastes and preferences. Below
        you will find a list of our different teas, along with their flavor profile, ingredients, and brewing
        instructions.
    </p>
</section>


</html>