<%- include("partials/header.ejs") %>

<body>

    <%- include("partials/nav.ejs") %>

    <section>
        <p></p> At Hyggen Tehus, we believe that tea is more than just a beverage - it's an experience that can be both
        enjoyable and beneficial for your health. That's why we've created this Tea Education section of our website, to
        help you learn more about the different types of tea and how to prepare them through a range of workshops.
        <p>We offer a range of ateliers that are designed to help you learn more about tea and how to prepare it. Here
            are
            some of our most popular workshops:</p>

        <% for (const workshop of workshops) { %>
        <div>
            <p><%= workshop.title %></p>
            <button>View</button>
        </div>
        <% } %>

        <p>We hope these workshops help you appreciate and enjoy your tea even more! Contact us to schedule your spot on
            the
            workshops.</p>
    </section>
</body>

</html>