@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500&family=Karla:wght@300;400;500;600&family=Red+Hat+Display:wght@400;500;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
  }

  body {
    font-family: 'Red Hat Display', sans-serif; 
    color: rgb(121, 109, 96);
    text-align: center;
  }

  a, a:visited, a:link, a:active {
    color: rgb(121, 109, 96);
    text-decoration: none;
  }

 a:hover {
    color:rgb(141, 75, 17);
  }

  /* nav style */

nav {
  font-family: 'Karla', sans-serif;
}

  .navbar {
    background: url('../images/nav-image.jpg') no-repeat center/100%;
    height: 25vh;
    display: flex;
    justify-content: center;
  }

  .navbar-title {
    background-color: hsla(33, 78%, 91%, 0.641);
    width: 100%;
    height: 15vh;
    color:rgb(141, 75, 17);
    letter-spacing: 0.3rem;
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navbar-list {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    margin-bottom: 2rem;
  }

  .navbar-item {
    list-style-type: none;
  }

  .navbar-link {
    margin: 0 2rem;
    font-size: 1.4rem;
  }


/* discover page */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

p {
  line-height: 1.5rem;
  margin: 1rem auto;
}
  
.teashop-image {
  background: url('../images/teashop.jpg') no-repeat center/100%;
  width: 100%;
  height: 600px;
  margin: 2rem auto;
}

.thanks {
  font-family: 'Caveat', cursive;
  font-size: 2rem;
  line-height: 2.5rem;
  margin: 1.5rem auto;
}

.aldus-leaf {
  font-size:2rem;
}

/* workshop page */
.page-container-content {
  width: 80%;
}

.workshop-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 5rem;
}

.workshop-content {
  width: 300px;
  height: 350px;
  margin: 2rem 2rem;
  margin-bottom: 3rem;
}

.workshop-image {
  background: url('../images/health.jpg') no-repeat center/100%;
  width: 300px;
  height: 300px;
  border-radius: 5%;
}

.workshop-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.workshop-details p {
  font-weight: 600;
}

/* Teas page */

.tea-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tea-page-container-content p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
}

.tea-page-container-content p {
  padding: 0 10%;
}

.tea-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

.tea-content {
  margin: 2rem 2rem;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tea-image {
  
  border-radius: 50%;
  width: 250px;
  height: 250px;
}

.tea-reference {
  margin: 1rem auto;
}

.tea-reference:hover {
  font-weight: 600;
}

/* Tea-item page */
.page-container {
  display: flex;
  justify-content: center;
  margin: 3rem auto;
}

.item-container {
  display: flex;
  justify-content: center;
  padding: 3%;
  width: 80%;
}

.return-link {
  marg
}

.item-image {
  margin-right: 3rem;
 
}

.item-image__img {
  height: 270px;
  width: 270px;
  border-radius: 50%;
  margin-bottom: 2rem;
  
}

/* footer */

footer {
  margin-top: 2rem;
  padding: 2.5rem 0;
  background-color: hsla(33, 78%, 91%, 0.641);
  border-radius: 5% 5% 0;
  font-size: 0.9rem;
}

/* workshop description page */
.workshop-description-image {
  height: 350px;
  width: 350px;
}

/* tea description page */

/* media queries */

  @media screen and (max-width: 280px) {
    .navbar-title {
      letter-spacing: 0.2rem;
      font-size: 1.5rem; 
    }

    .navbar-list {
      flex-direction: column;
      padding: 2rem;
    }
    .navbar-item {
      margin: 0.5rem auto;
    }
  }

  @media screen and (max-width: 350px) {
    .navbar-title {
      letter-spacing: 0.1rem;
      font-size: 1.7rem; 
    }
    .tea-page-container-content p {
      padding: 0;
    }
  }

  @media screen and (max-width: 390px) {

    .navbar-title {
      letter-spacing: 0.2rem;
      font-size: 1.9rem; 
    }

    .navbar-link {
      margin: 0 auto;
      font-size: 1.2rem;
    }

    .tea-page-container-content p {
      padding: 0 5%;
      max-width: 240px;
    }
    
    .teashop-image {
        margin: 0.3rem auto;
        height: 300px;
      }

    .navbar-list {
      margin-top: 1.5rem;
    }
    
  }

  @media screen and (max-width: 450px) {
    .navbar-title {
      letter-spacing: 0.2rem;
      font-size: 2rem; 
    }

    footer {
      font-size: 0.7rem;
      padding: 2.5rem 2rem;
    }

    .container-content {
      width: 80%;
    }
  }

  @media screen and (max-width: 768px) {
    .navbar-list {
      flex-direction: column;
      padding: 2rem;
      margin-top: 2rem;
    }
    .navbar-item {
      margin: 0.5rem auto;
    }
  }
  

  @media screen and (max-width: 900px) {
 
    p {
      font-size: 0.9rem;
    }

    .container-content {
      width: 65%;
    }
  }


  @media screen and (min-width: 1400px) {
 
    .container-content {
      width: 50%;
    }
  }




